@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    background-color: black;
    color: #f0ffff;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}

form{
    /*Apenas para centralizar o form na página*/
    margin: 0 auto;
    width: 550px;
    /* Para bordas do formulario */
    padding: 5em;
    border: 3px solid #9400d3;
    border-radius: 10em;
}

form div+div{
    margin-top: 50em;
}

label {
    /* Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas*/
    display: inline-block;
    width: 90px;
    text-align: center;
}

input, textarea{
    /* Para certificar-se que todos os campos de texto tem as mesmas configurações de fonte. por padrão, textareas ter uma fonte mono-space */
    font: 1em sans-serif;
    
    /* Para dar o mesmo tamanho a todos os campos de texto */
    width: 300px;
    box-sizing: border-box;

    /* Para harmonizar o look& feels das bordas nos campos de texto */
    border: 3px solid 	#9370db ;
    background-color: black;
}

input:focus, textarea:focus {
    /* Dar um pouco de destaque nos elementos ativos */
    border-color: #7fff00;
}

textarea {
    /* Para alinhar corretamente os campos de texto de varias linhas com sua label */
    vertical-align: top;

    /* Para dar espaço suficiente para digitar algum texto */
    height: 5em;

    /* para permitir aos usuarios redimensionarem qualquer textarea verticalmente. ele não funciona em todos os browsers */
    resize: vertical;
}

.button{
    /* Para posicionar os botões para a mesma posição dos campos de texto */
    padding-left: 90px;
    /* mesmo tamanho que os elementos do tipo label */
}

button {
    /* Esta margem extra representa aproximandamente o mesmo espaço que o espaço entre as labels e os campos de texto*/
    margin-left: 6em;
    margin-bottom: 2em;
}


input[type=radio]{
    width:auto
}

.radio label {
    text-align: left;
    width: 190px;
}

.radio{
    width: 300px;
    display: block;
    margin: 0 auto;
}

input[type=range]::-webkit-slider-runnable-track{
    background-color: #9400d3;
    border-radius: 5px;
    border: px solid #000000;
}
